@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@112.5,100..800&display=swap');

:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #5500ff;
    --clr-primary-a10: #6221f1;
    --clr-primary-a20: #6c33e3;
    --clr-primary-a30: #7441d5;
    --clr-primary-a40: #794dc7;
    --clr-primary-a50: #7d58b9;

    /** Theme surface colors */
    --clr-surface-a0: #ffffff;
    --clr-surface-a10: #f0f0f0;
    --clr-surface-a20: #e1e1e1;
    --clr-surface-a30: #d3d3d3;
    --clr-surface-a40: #c5c5c5;
    --clr-surface-a50: #b6b6b6;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #f3e8ff;
    --clr-surface-tonal-a10: #e6dcf0;
    --clr-surface-tonal-a20: #d8d0e1;
    --clr-surface-tonal-a30: #cbc4d3;
    --clr-surface-tonal-a40: #beb8c5;
    --clr-surface-tonal-a50: #b1adb6;

    /*Font*/ 
    --clr-font-base: #000000;
}

[data-theme="dark"] {
    /*    
*    --clr-dark-a0: #000000;
*    --clr-light-a0: #ffffff;
*
*    --clr-primary-a0: #f7c8e9;
*    --clr-primary-a10: #f8ceeb;
*    --clr-primary-a20: #f9d4ee;
*    --clr-primary-a30: #fadaf0;
*    --clr-primary-a40: #fbe0f3;
*    --clr-primary-a50: #fce7f5;
*
*    --clr-surface-a0: #121212;
*    --clr-surface-a10: #282828;
*    --clr-surface-a20: #3f3f3f;
*    --clr-surface-a30: #575757;
*    --clr-surface-a40: #717171;
*    --clr-surface-a50: #8b8b8b;
*
*    --clr-surface-tonal-a0: #252224;
*    --clr-surface-tonal-a10: #393738;
*    --clr-surface-tonal-a20: #4f4c4e;
*    --clr-surface-tonal-a30: #666365;
*    --clr-surface-tonal-a40: #7e7b7d;
*    --clr-surface-tonal-a50: #969495;
*/ 

    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #d8e3b6;
    --clr-primary-a10: #dce6be;
    --clr-primary-a20: #e1e9c6;
    --clr-primary-a30: #e5ecce;
    --clr-primary-a40: #eaefd6;
    --clr-primary-a50: #eef3de;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #232320;
    --clr-surface-tonal-a10: #383835;
    --clr-surface-tonal-a20: #4d4d4b;
    --clr-surface-tonal-a30: #646462;
    --clr-surface-tonal-a40: #7c7c7a;
    --clr-surface-tonal-a50: #959593;

    /*Font*/ 
    --clr-font-base: #ffffff;
}

* {
    font-family: "Martian Mono", monospace; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-surface-a0);
    height: 100vh;
    transition: 0.5s ease-in-out;
}

main#app {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.page.enter-left {
    transform: translateX(-100%);
}

.page.enter-right {
    transform: translateX(100%);
}

.page.exit-left {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.page.exit-right {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.page.active {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

.bar-container {
    margin: auto;
    margin-top: 2rem;
    width: 35%;
    background-color: var(--clr-surface-a10);
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 5px 5px var(--clr-surface-a20);
}

#bar-list {
    font-size: 1.25rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.bar-list-item {
    margin: 0.5rem; 
}

.bar-link {
    text-decoration: none;
    color: var(--clr-font-base);
}

.bar-link:hover {
    color: var(--clr-primary-a0);
    transition: all 0.5s linear;
}

.bar-link.active {
    color: var(--clr-primary-a0);
    background: var(--clr-surface-a20);
    border-radius: 1rem;
    padding: 0.75rem;
    transition: 0.3s ease-in-out;
}

.separator {
    color: var(--clr-font-base);
    height: 95%;
    border-left: 2px solid var(--clr-font-base);
}

#toggle-theme {
    border: none;
    background-color: var(--clr-surface-a10);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
}

.theme-icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.4s ease;
    position: absolute;
}

[data-theme="light"] .sun-icon {
    opacity: 0;
    transform: rotate(180deg) scale(0);
}

[data-theme="light"] .moon-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

[data-theme="dark"] .sun-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

[data-theme="dark"] .moon-icon {
    opacity: 0;
    transform: rotate(-180deg) scale(0);
}

.theme-icon {
    fill: var(--clr-font-base);
    transition: fill 0.3s ease, opacity 0.4s ease, transform 0.4s ease;
}

.container {
    margin: auto;
    margin-top: 5rem;
    padding: 1.5rem;
    display: flex;
}

#redirect-convert {
    align-content: center;
    background: var(--clr-surface-a10);
    border-radius: 2rem;
    border: none;
    box-shadow: 5px 7px 5px var(--clr-surface-a20);
    height: 400px;
    margin: auto;
    margin-left: 2rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    transition: 0.3s ease-in-out;
    width: 25%;
}

#upload-files {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#redirect-convert:hover {
    transform: scale(1.1);
}

.redirect-header {
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--clr-primary-a0);
    transition: 0.3s ease-in-out;
}

#redirect-convert-icon {
    width: 4rem;
    height: 4rem;
    color: var(--clr-primary-a0);
    transition: 0.3s ease-in-out;
}

#redirect-convert-text {
    margin-top: 3rem;
    font-size: 1.1rem;
    color: var(--clr-font-base);
    transition: 0.3s ease-in-out;
}

.message-container {
    width: 30%;
    margin: auto;
    margin-top: 5rem;
    margin-right: 2rem;
    text-align: left;
    align-content: center;
}

.home-message {
    color: var(--clr-primary-a20);
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.home-message-two {
    color: var(--clr-primary-a40);
    color: var(--clr-font-base);
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}
